# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/

echoseed/data
echoseed/model
echoseed/ai
# VS Code / JetBrains
.vscode/
.idea/

# Secrets
.env

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Test cache
.pytest_cache/
